<IfModule mod_rewrite.c>
    Options +SymLinksIfOwnerMatch
    RewriteEngine On

    # Allow Installatron / deleteme requests
    RewriteCond %{REQUEST_FILENAME} deleteme\.\w+\.php
    RewriteRule (.*) - [L] 

    # Disable MultiViews
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # Redirect Trailing Slashes If Not A Folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller for Laravel
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
